body, th {
	padding:25px 15px 5px 5px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-image: url("../resources/imagens/faixa.png");
	background-repeat: repeat-x;
	
}

th {
	padding: 3px;
	min-height: 25px;
	
}


img {
	border:0px;
}

#container {
	padding:5px 5px 5px 5px;
	width: 100%;
	background-image: url(#{resource['imagens:faixa.png']});
	background-repeat: repeat-x;
	background: #e3e3e3;
}
	
#titulo {
	width:450px;
	float: left;
	font-size: 25pt;
	font-variant: small-caps;
	font-weight: bold;	
	color: rgb(58, 115, 45);
	
}

#logotipo{
	float: right;
	padding: 5px 5px 5px 5px;
}

#barra_menu {
	min-height: 25px;
	padding: 3px;
	clear:both;
	background: url(#{resource['imagens:fundo_barra_menu.png']}) repeat-x; 
}

#barra_menu_manutencao {
	
	min-height: 25px;
	padding: 3px;
	clear:both;
}

#corpo_dir {
	width: 80%;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
	
}

#menu_vertical {
		width: 20%;
		margin: 0 auto; 
		padding: 0;
		float: left;
		position: relative;
		}
		
#rodape {
	height: 20px;
	margin-top: 5px;
	padding: 10px;
	text-align: center;
	background:#c7d8c5 -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0))); 
	
	/**url(#{resource['imagens:rodape_oficina.png']}) repeat-x;**/
}

.listagemj .ui-widget-header  {
	background: #aaaaaa -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0)));
    color: #061f03;
}
.listagemj .ui-button .ui-button-text{
	background: #aaaaaa -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0)));
    color: #061f03;
    
}

/** .ui-menu .ui-menu-child li muda a cor do menu principal**/
.listagemj .ui-widget-content li, .ui-menu li{
	background: #aaaaaa -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0)));
    color: #061f03;
    
}




/**.ui-menu, .ui-menu .ui-menu-child*/

/**tela cadastro de modelos dos veículos*/
#modelo_cadastro{
	
}
#modelo_botoes{
	float: left;
}
.modelo_1{
	float: left;
}
.modelo_imagem{
	float: left;
}
/**----- fim da tela cadastro de modelos dos veículos----------*/

/* alguns botões não estão dentro do mesmo escopo */
.botoes{
	background:  #c7d8c5 -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0)));
	border: 
}

.info {
	font-weight: bold;
	color: green;
}

.warn {
	font-weight: bold;
	color: #FFCC00;
}

.fatal, .error {
	font-weight: bold;
	color: red;
}

/* tira a borda das grades*/
.ui-panelgrid {
border: none !important;" 
}

.ui-panelgrid td {
    border-width: 1px;
    /* border-style: solid; */
    /* border-color: inherit; */
    padding: 2px 1px;
}